:root {
  --color-background: #67199e;
  --color-button: #4b0082;
  --color-white: #ffff;
}

body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 20px;
}

.fa-coins {
  font-size: 100px;
  color: var(--color-white);
}

.container {
  width: 500px;
  height: 800px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 7px;
}

.name-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 88%;
  margin-bottom: 50px;
}

.count-conainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  height: 550px;
  background-color: var(--color-white);
}

input {
  width: 95%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--color-button);
  background-color: transparent;
  margin-top: 20px;
}

select {
  width: 95%;
  height: 50px;
  font-size: 20px;
  border: 1px solid var(--color-button);
  background-color: transparent;
}

button {
  width: 95%;
  height: 50px;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-button);
}
.para-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 250px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--color-button);
  margin-bottom: 30px;
}
